[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/era-contracts"]
	path = lib/era-contracts
	url = https://github.com/matter-labs/era-contracts
[submodule "lib/era-uniswap-v3-core"]
	path = lib/era-uniswap-v3-core
	url = https://github.com/uniswap-zksync/era-uniswap-v3-core
[submodule "lib/era-uniswap-swap-router-contracts"]
	path = lib/era-uniswap-swap-router-contracts
	url = https://github.com/uniswap-zksync/era-uniswap-swap-router-contracts
[submodule "lib/era-universal-router"]
	path = lib/era-universal-router
	url = https://github.com/uniswap-zksync/era-universal-router
